@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');
:root{
    --color-primario:#e17055;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Source Sans Pro', sans-serif;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
.text p{
    margin: 0;
}
.name{
    display: block;
    font-family: monospace;
    white-space: nowrap;
    border-right: 4px solid;
    width: 20ch;
    margin-bottom: 10px;

    animation: typing 3s steps(20) infinite,blink .3s infinite
    step-end alternate;
    overflow: hidden;
}
@keyframes typing{
    from { width: 0;}
}

@keyframes blink{
    50% { border-color: transparent;}
}


.container__width{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

/* cover */
.container__cover{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.cover{
    max-width: 1200px;
    height: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (min-width:768px){
    .cover{
        flex-direction: row;
        justify-content: center;
    }
}
.container__cover .text{
    max-width: 400px;
}
.container__cover .text h1{
    font-size: 36px;
    font-weight: 600;
}
@media (min-width:768px){
    .container__cover .text h1{
        margin: 10px 0;
    }
}
.container__cover .text p{
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-cv{
    text-decoration: none;
    text-align: center;
    display: block;
    width: 150px;
    height: 30px;
    border: 1px solid black;
    border-radius: 50px;
    color: #000;
    transition-property:background-color color;
    transition-duration: 300ms;
}
.btn-cv:hover{
background-color: #000;
color: #fff;
}

.container__cover .svg img{
    width: 400px;
    animation: move-vector 4s linear infinite;
}
@media (min-width:768px){
    .container__cover .svg img{
        width: 600px;
    }
}
@keyframes move-vector{
    0%{
        transform: translateY(15px);
    }
    50%{
        transform: translateY(0px);
    }100%{
        transform: translateY(15px);
    }
}
.about{
   position: relative;
   
} 
.about::before{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 35%;
    background-color: #e17055;
    z-index: -1;
    
}

@media (min-width:768px){
    .about::before{
       width: 35%;
       height: 100%;
    }
}

/* globales */
section h2{
    margin-top: 40px;
    font-size: 40px;
    margin-left: 10px;
}
section h2::after{
    content: '';
    display: block;
    width: 80px;
    height: 5px;
    background-color: var(--color-primario);
    margin-left: 10px;
    
}
/* fin de globales */
.contenido{
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width:768px){
    .contenido{
        padding: 100px 0;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
}
.imagen{
    display: inline-block;
    border: 5px solid #e1e1e1;
    height: 410px;
    background-color: #2c3e50;
}
.imagen img{
    width: 400px;
    height: 400px;
}
.sobre-mi{
    width: 300px;
    text-align: center;
}
.title{
    font-size: 40px;
    font-weight: 900;
}
.subTitle{
    margin-top: 0;
    font-weight: 700;
}



.tecnologias{
   position: relative;
}
.tecnologias::before{
 content: '';
 display: block;
 position: absolute;
 width: 65%;
 height: 100%;
 clip-path: polygon(100% 0, 66% 54%, 100% 100%);
 background-color: var(--color-primario);
 z-index: -1;
 right: 0;
}

@media (min-width:768px){
    .tecnologias::before{
        width: 10%;
        height: 100%;
        clip-path: polygon(100% 0, 0 50%, 100% 100%);
        right: 0;
        background-color: var(--color-primario);
    }
}
.tecnologias p{
    text-align: center;
}

@media (min-width: 768px){
    .tecnologias p{
        margin-left: -503px;
    }
}

.grid-tecnologias{
 display: grid;
 grid-template-columns: repeat(2,1fr);
 justify-items: center;
 gap: 5px;
}
    
@media (min-width:768px){
    .grid-tecnologias{
        grid-template-columns: repeat(3,1fr);
    }
}
.img-tecnologia{
 width: 150px;
}
.info-me{
    padding: 30px 0;
    border-top: 1px solid var(--color-primario);
    border-bottom: 1px solid var(--color-primario);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 50px;
    margin-top: 50px;
}
@media (min-width:768px){
    .info-me{
        flex-direction: row;
    }
}
.habilidad{
    text-align: center;
}
.habilidad span{
    font-weight: 900;
    font-size: 50px;
    
}
.habilidad p{
    color:var(--color-primario);
    text-transform: uppercase;
    font-weight: 600;
}

.logo__uni{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
@media (min-width:768px){
    section h2{
        text-align: left;
    }
    .logo__uni{
        flex-direction: row;
    }
}
.logo__uni img{
    width: 400px;
    height: auto;
}
section p{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}
.url-link{
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
}
@media (min-width:768px){
    section p{
        padding: 0;
    }

    .url-link{
        padding: 0;
    }
}
.achievements{
    position: relative;
}
.achievements::after {
    content: '';
    display: block;
    position: absolute;
    width: 3%;
    height: 100%;
    clip-path: polygon(100% 99%, 0% 40%, 100% 0%); /* Figura reflejada */
    background-color: var(--color-primario); /* Mismo color */
    z-index: -1; /* Detr치s del contenido */
    left: 0; /* Posici칩n a la izquierda */
    top: 0%;
    transform: scaleX(-1); /* Reflejar horizontalmente */
}
.achieve h3{
    padding: 10px 0px;
    font-size: 24px;
}

.achieve img{
    width: 90%;
    border: 10px solid #000;
}
.achieve a{
    transition: all 0.3s ease-out;
}

.achieve a:hover{
    transform: scale(1.2);
}

.achieve{
    text-align: center;
}


@media(min-width:768px){
    .achieve{
        text-align: left;
        display: flex;
        gap: 10px;
    }

   

}

.container-card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}
@media (min-width:768px){
    .container-card{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
.card-father{
    margin:20px;
    perspective: 1000px;
    
}
.card{
    width: 350px;
    height: 400px;
    position: relative;
    transition:all 600ms;
    transform-style: preserve-3d;
}
.card-front{
    background-image: url(../img/1615633069_923466_1616262218_noticia_normal.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.imgTree{
    background-image: url(../img/imagenVet.jpg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.imgFour{
    background-image: url(../img/logo_the_watches.svg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.imgFive{
    background-image: url(../img/logoSyA.jpeg);
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}
.card-front,.card-back{
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
backface-visibility: hidden;
transform-style: preserve-3d;
border-radius: 40px;

}


 .card-back{
    transform: rotateY(180deg);
    background-color: #ddd;
   }   


.card-father:hover .card{
    transform: rotateY(180deg);
    
}

.body-card-front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    /* transform: translateZ(60px); */
    /* position: relative; */
} 
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 40px;
}

.body-card-back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}
.body-card-back h1{
    margin-bottom: 50px;
    font-size: 25px;
}

.body-card-back p{
    margin-bottom: 40px;
    font-size: 14px;
}
.body-card-back a{
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    color: #fff;
    background-color: var(--color-primario);
    border-radius: 10px;
    box-shadow: 9px 9px 17px -1px rgba(0,0,0,0.49);;
    transition: all 300ms;

    
}
.body-card-back a:hover{
    background-color: var(--color-primario);
    box-shadow: -5px 17px 76px 20px rgba(0,0,0,0.57);;
}



.footer{
    width: 100%;
    height: 80px;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* formulario */

.formulario__div {
    padding: 20px 0px;
}
#form{
    padding: 0px 20px; 
}

#form .form__field label{
    display: block;
   font-weight: 400; 
   font-size: 20px;   
}
#form .form__field input,textarea{
    width: 90%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid #000;
    outline: none; /* Evita que aparezca el borde azul (focus outline) */
}
#form .form__field input,textarea:focus{
    outline: none;
}
.alerta{
    padding: 5px;
    background-color: #b84224;
    color: #ddd;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    width: 90%;
    border-radius: 5px;
}

/* From Uiverse.io by adamgiebl */ 
.form-contact{
    position: relative;
 }
 .form-contact::before{
  content: '';
  display: block;
  position: absolute;
  width: 30%;
  height: 100%;
  clip-path: polygon(100% 0, 40% 150%, 100% 100%);
  background-color: var(--color-primario);
  z-index: -1;
  right: 0;
 }
 .form-contact::after {
    content: '';
    display: block;
    position: absolute;
    width: 10%;
    height: 100%;
    clip-path: polygon(100% 75%, 90% 25%, 100% 0%); /* Figura reflejada */
    background-color: var(--color-primario); /* Mismo color */
    z-index: -1; /* Detr치s del contenido */
    left: 0; /* Posici칩n a la izquierda */
    top: 0%;
    transform: scaleX(-1); /* Reflejar horizontalmente */
}

#form button {
    font-family: inherit;
    font-size: 20px;
    background: #e17055;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
  }
  
#form button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
#form button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
#form button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
#form button:hover svg {
    transform: translateX(4em) rotate(45deg) scale(1.1);
  }
  
#form button:hover span {
    transform: translateX(10em);
  }
  
#form button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  


.footer p{
    
    color: #000;
    font-size: 20px;
    margin: 0;
    padding: 0;
}
iframe{
    width: 380px;
    
}
@media (min-width:768px){
   iframe{
    max-width: 560px;
   }
   .footer p{
       font-size: 36px;
   }
}
